<h4><%= current_account.name %>'s projects:</h4>
<ul>
  <% current_account.projects.each do |project| %>
    <li>
      <%= link_to "Edit '#{project.name}'", edit_project_path(project) %>
      <%= button_to "Delete '#{project.name}'", project_path(project), :method => :delete %>
    </li>
  <% end %>
</ul>
