<h1>Welcome to Rails App</h1>
<% if user_signed_in? %>
  <span>Current account: <%= current_account.name %></span>
<% else %>
  <%= link_to "Sign up", new_account_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>